<a href="https://colab.research.google.com/github/hedravBands/Data_Science_60_Projects/blob/main/02_Dog_Breed_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# API key generated from kaggle account
from google.colab import files
files.upload()

In [5]:
# install Kaggle API client
!pip install -q kaggle

In [9]:
# create dir
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

#  #600 user read/write/noexec
!chmod 600 ~/.kaggle/kaggle.json

In [14]:
# create working dir
!mkdir dog_dataset
%cd dog_dataset

/content/dog_dataset/dog_dataset

In [11]:
# search for dataset
!kaggle datasets list -s dogbreedidfromcomp

ref                                         title                    size  lastUpdated          downloadCount  voteCount  usabilityRating
------------------------------------------  ----------------------  -----  -------------------  -------------  ---------  ---------------
datasets/catherinehorng/dogbreedidfromcomp  dog-breed-id-from-comp  691MB  2020-06-26 03:09:05           1082          4  0.1764706

In [15]:
!kaggle datasets download catherinehorng/dogbreedidfromcomp
%cd ..

Downloading dogbreedidfromcomp.zip to /content/dog_dataset/dog_dataset
 97% 673M/691M [00:05<00:00, 150MB/s]
100% 691M/691M [00:05<00:00, 138MB/s]
/content/dog_dataset

In [18]:
# fixing folder tree
!rm dog_dataset/dogbreedidfromcomp.zip
!rmdir dog_dataset/

rm: cannot remove 'dog_dataset/dogbreedidfromcomp.zip': No such file or directory
rmdir: failed to remove 'dog_dataset/': No such file or directory

In [22]:
# download again to the right folder
%pwd
!kaggle datasets download catherinehorng/dogbreedidfromcomp
%cd ..

Downloading dogbreedidfromcomp.zip to /content/dog_dataset
 97% 671M/691M [00:04<00:00, 193MB/s]
100% 691M/691M [00:04<00:00, 159MB/s]
/content

In [ ]:
# unzip and clean up / output off, just file names
!unzip dog_dataset/dogbreedidfromcomp.zip -d dog_dataset/
!rm dog_dataset/dogbreedidfromcomp.zip
!rm dog_dataset/sample_submission.csv

In [27]:
 # import the gang =)
 import numpy as np
 import pandas as pd
 import matplotlib.pyplot as plt

 from tqdm import tqdm
 from keras.preprocessing import image
 from sklearn.preprocessing import label_binarize
 from sklearn.model_selection import train_test_split
 from keras.models import Sequential
 from keras.layers import Dense, Dropout, Flatten, Conv2D, MaxPool2D
 from keras.optimizers import Adam

ImportError: ignored

In [30]:
# import Adam separated as 'keras.optimizers' could not import
# found at https://keras.io/about/
# https://keras.io/api/optimizers/adam/
from tensorflow.keras.optimizers import Adam

In [35]:
# read labels.csv
labels_all = pd.read_csv("dog_dataset/labels.csv")
print(labels_all.shape)
labels_all.head()

(10222, 2)

                                 id             breed
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo
2  001cdf01b096e06d78e9e5112d419397          pekinese
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever

In [33]:
# count each breed
breeds_all = labels_all["breed"]
breed_counts = breeds_all.value_counts()
breed_counts

scottish_deerhound      126
maltese_dog             117
afghan_hound            116
entlebucher             115
bernese_mountain_dog    114
                       ...
golden_retriever         67
brabancon_griffon        67
komondor                 67
eskimo_dog               66
briard                   66
Name: breed, Length: 120, dtype: int64

In [39]:
# use 3  breeds only (limitation of computation power)
CLASS_NAMES = ['scottish_deerhound', 'maltese_dog', 'bernese_mountain_dog']
labels = labels_all[(labels_all['breed'].isin(CLASS_NAMES))]
labels = labels.reset_index()
labels.head()

   index                                id                 breed
0      9  0042188c895a2f14ef64a918ed9c7b64    scottish_deerhound
1     12  00693b8bc2470375cc744a6391d397ec           maltese_dog
2     79  01e787576c003930f96c966f9c3e1d44    scottish_deerhound
3     90  022b34fd8734b39995a9f38a4f3e7b6b           maltese_dog
4    118  02d54f0dfb40038765e838459ae8c956  bernese_mountain_dog

In [42]:
# create numpy matrix of zeros
X_data = np.zeros((len(labels),224,224,3), dtype='float32')
# One hot encoding
Y_data = label_binarize(labels['breed'], classes = CLASS_NAMES)

# read, convert to numpy array then normilize dataset
for i in tqdm(range(len(labels))):
  img = image.load_img('dog_dataset/train/%s.jpg' % labels['id'][i], target_size=(224,224))
  img = image.img_to_array(img)
  x = np.expand_dims(img.copy(), axis=0)
  X_data[i] = x / 255.0

# print train image and one hot encode shape & size
print('\nTrain Images shape: ', X_data.shape, ' size: {:,}'.format(X_data.size))
print('One hot enconded output shape: ', Y_data.shape, ' size: {:,}'.format(Y_data.size))

100%|██████████| 357/357 [00:01<00:00, 216.20it/s]

Train Images shape:  (357, 224, 224, 3)  size: 53,738,496
One hot enconded output shape:  (357, 3)  size: 1,071